<div id="main_padding">
  <h1>Thank you for shopping with So Random </h1>
  <h3 >Your order was successfully created </br >and will be shipped today. </h3>
  <p id ="notice"><%= notice %></p>
  <%= link_to "Back to Store", :controller => "grid",  :action => "index" %>
</div>